{% extends 'app.twig' %}

{% block content %}
    <div class="loading" >
        One moment
    </div>
    <div class="item">
        <h3 class="item__title">
            <a ></a>
        </h3>
        <div class="item__service">
            ${name}
        </div>
    </div>
{% endblock %}
